<h1>Assignment 3 App Homepage </h1>
<h2>Welcome to the Assignment 3 App</h2>
<p>This assignment is an app made with one controller.<br />
	This app includes an ActiveRecord database with a user table and an article table that are associated using the "has_many" and "belongs_to" associations. </p>
<%= link_to "View on GitHub", "https://github.com/monsterbash/nycda-rails/tree/master/assignment-1" %></p>