<div style= "float:left; width:20%;">
<hr />
<h2>App Menu</h2>
<p><%= link_to "Sign up!", new_user_path %></p>
<p><%= link_to "Sign in", signin_path %></p>
<p><%= link_to "View all users page", users_path %></p>
<p><%= link_to "View on GitHub", "https://github.com/monsterbash/nycda-rails/tree/master/assignment-5" %></p>
<hr />
</div>