<div style="float:left; width:80%;">
<h1>Assignment 5 App Homepage </h1>
<h2>Welcome to the Assignment 5 App</h2>
<p>This assignment is an blog where users can sign up, sign in, and post content.<br />
	This app uses forms to create a basic CRUD functionality. </p>
<p><%= link_to "See what has been posted so far", posts_path %></p>
</div>


<%= render "homemenu" %>

