<div style= "float:left; width:20%;">
<hr />
<h2>App Menu</h2>
<p><%= link_to "View users page", users_path %></p>
<p><%= link_to "View user profile page", user_profile_path %></p>
<p><%= link_to "View search page", search_page_path %></p>
<p><%= link_to "View on GitHub", "https://github.com/monsterbash/nycda-rails/tree/master/assignment-1" %></p>
<hr />
</div>