<div style="float:left; width:80%;">
<h1>Assignment 2 App Homepage </h1>
<h2>Welcome to the Assignment 2 App</h2>
<p>This assignment is an app made with two controllers, which each include two views.<br /> The menu on this page is rendered using a partial.</p>
</div>

<%= render "menu" %>


