<h1>Search Page </h1>
<p>If there were a search function, the results would display on this page.<br />This is the second view in the home controller</p>

<p><%= link_to "Return to home page", home_page_path %></p>