<h1>All Users Page </h1>

<p>This page would list all the users.<br /> This is the first view in the user controller.</p>

<p><%= link_to "Return to home page", home_page_path %></p>
<p><%= link_to "View user profile page", user_profile_path %></p>
